In [6]:
%load_ext autoreload
%autoreload 2

In [7]:
from data_precleaning import *

In [8]:
list_of_files=json_filter("json_data")

In [9]:
list_of_files

['2016-07-15T02_04_40_862Z.json.gz',
 '2016-08-15T02_04_03_829Z.json.gz',
 '2016-09-15T02_04_03_474Z.json.gz',
 '2016-10-15T02_04_11_689Z.json.gz',
 '2016-11-12T22_20_03_295Z.json.gz',
 '2016-12-15T22_20_52_411Z.json.gz',
 '2017-01-15T22_21_04_985Z.json.gz',
 '2017-02-15T22_22_48_377Z.json.gz',
 '2017-03-15T22_20_55_874Z.json.gz',
 '2017-04-15T22_21_18_122Z.json.gz',
 '2017-05-15T22_21_11_300Z.json.gz',
 '2017-06-15T22_20_03_059Z.json.gz']

In [10]:
csv_list=[]
for i in list_of_files:
    jsons=json_generator(i)
    csv_list.append(generate_kickstarter_csv(jsons))

In [45]:
df=kickstarter_concat(csv_list,"Trial_Pickle")

csv saved to data\Trial_Pickle.csv

In [14]:
df.tail()

,Backers,Category,Country,Created_Datetime,Creater_ID,Creater_Name,Funding_Deadline,Goal,Name,Pledged,State,Status
2070663,64,Spaces,US,1403320418,1668055563,Colorado Actors Company & Theatre School,1408679055,4000.0,Colorado ACTS Black Box Painting,5308.26,CO,successful
2070664,58,Spaces,US,1405399445,552677239,Colleen and David Specht,1410324720,7900.0,"improvMANIA Improv Comedy Theater - Chandler, ...",15077.0,AZ,successful
2070665,59,Spaces,GB,1409561898,617004672,Peter Hetherington,1412335772,300.0,St. Michael Boat Parties - Halloween and Beyond!,2277.7885601812,England,successful
2070666,118,Spaces,US,1408569517,1025452652,Pangea House Collective,1412611905,10600.0,Pangea House Revitalization Project,12772.6,ND,successful
2070667,1095,Spaces,US,1409848035,1947692763,Dad's Garage Theatre Company,1415722236,116000.0,Build the House of Dad's!,169985.91,GA,successful

In [16]:
list(df.columns)

['Backers',
 'Category',
 'Country',
 'Created_Datetime',
 'Creater_ID',
 'Creater_Name',
 'Funding_Deadline',
 'Goal',
 'Name',
 'Pledged',
 'State',
 'Status']

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2070668 entries, 0 to 2070667
Data columns (total 12 columns):
Backers             int64
Category            object
Country             object
Created_Datetime    int64
Creater_ID          int64
Creater_Name        object
Funding_Deadline    int64
Goal                float64
Name                object
Pledged             object
State               object
Status              object
dtypes: float64(1), int64(4), object(7)
memory usage: 189.6+ MB

In [28]:
df['Created_Datetime'].min()

1240366270

In [23]:
from datetime import datetime

In [31]:
type(datetime.fromtimestamp(1240366270))

datetime.datetime

In [34]:
from data_cleaning import *

In [30]:
import pandas as pd

In [41]:
df_cleaned=full_clean(df)

In [47]:
df_cleaned.to_pickle("cleaned_df.pickle")

In [48]:
a=pd.read_pickle("data/cleaned_df.pickle")